<article class="bottom-space">
	<div class="row center-xs sin-margen">
		<div class="col-xs-11 light-border col-md-7">
			<%= article_cover @article.cover.url %>
			<h1 class="be-big blue"><%= @article.title %></h1>
			<p class="be-small text-right">
				<%= link_to "Atras", articles_path, class:"underline"%> -
			<span class="red">
				<%= @article.visits_count %> visita(s)
			</span> -
			<% unless @article.user.nil? %>
			Escrito por: <%= @article.user.email%>
			<%end%>
			</p>
			<div class="text-justify">
				<%= simple_format @article.body %>
			</div>
			<div class="top-space">
				<%= render "articles/comments" %>
			</div>
		</div>
	</div>
</article>
