<footer>
<div class="row fullWidth">
	  <div class="small-12 columns float-footer be-strong text-center">
      <div class="small-12 columns text-footer">
        <%= link_to "Sobre nosotros", root_path , class:"text-footer"%>
        <%= link_to "Empleo", root_path, class:"text-footer" %>
        <%= link_to "Negocios", root_path ,class:"text-footer"%>
        <%= link_to "Terminos y condiciones", root_path,class:"text-footer" %>
        <%= link_to "Privacidad", root_path ,class:"text-footer"%>
      </div>
      <div class="small-12 columns text-center float-footer">&#169; <%= link_to "ZONA UNIVERSITARIA", root_path %></div>

      </div>
</div>
</footer>
