<header>
	<div class="row fullWidth">
	  <div class="large-5 small-12 columns blue-padding menu be-strong text-center"><%= link_to "ZONA UNIVERSITARIA", root_path %></div>
	  <div class="large-7 small-12 columns be-purple menu">
	    <div class="row text-center">
	      <div class="small-3 columns"><%= link_to "Inicio", root_path %></div>
	      <div class="small-2 columns">Eventos</div>
	      <div class="small-2 columns">Revista</div>
				<% if user_signed_in? %>
				<li class="small-5 columns no-list">
					<div class="small-4 columns no-list"><%= link_to "Salir", destroy_user_session_path, method: :delete %></div>
					<div class="small-8 columns no-list"><%= link_to "Dashboard", dashboard_path %></div>
				</li>
			<% else %>
				<li class="small-3 columns no-list">
					<%= link_to "Login", new_user_session_path %>
				</li>
			<%end%>
	  </div>
	</div>
</header>
